In [1]:
import pandas as pd
df= pd.read_csv('titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [5]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [6]:
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [13]:
target = df.Survived
inputs = df.drop('Survived',axis='columns')

In [14]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [15]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [17]:
inputs.drop('Sex',axis='columns',inplace=True)
inputs.head()

KeyError: "['Sex'] not found in axis"

In [18]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [20]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs

     Pclass        Age     Fare  female  male
0         3  22.000000   7.2500       0     1
1         1  38.000000  71.2833       1     0
2         3  26.000000   7.9250       1     0
3         1  35.000000  53.1000       1     0
4         3  35.000000   8.0500       0     1
..      ...        ...      ...     ...   ...
886       2  27.000000  13.0000       0     1
887       1  19.000000  30.0000       1     0
888       3  29.699118  23.4500       1     0
889       1  26.000000  30.0000       0     1
890       3  32.000000   7.7500       0     1

[891 rows x 5 columns]

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(inputs, target,test_size=0.2)

In [31]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [32]:
model.fit(X_train,y_train)

GaussianNB()

In [33]:
model.score(X_test,y_test)

0.770949720670391

In [34]:
X_test[:10]

     Pclass        Age     Fare  female  male
852       3   9.000000  15.2458       1     0
354       3  29.699118   7.2250       0     1
360       3  40.000000  27.9000       0     1
569       3  32.000000   7.8542       0     1
665       2  32.000000  73.5000       0     1
236       2  44.000000  26.0000       0     1
645       1  48.000000  76.7292       0     1
3         1  35.000000  53.1000       1     0
76        3  29.699118   7.8958       0     1
727       3  29.699118   7.7375       1     0

In [35]:
y_test[:10]

852    0
354    0
360    0
569    1
665    0
236    0
645    1
3      1
76     0
727    1
Name: Survived, dtype: int64

In [36]:
model.predict(X_test[:10])

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 1], dtype=int64)

In [37]:
model.predict_proba(X_test[:10])

array([[0.04912922, 0.95087078],
       [0.99142978, 0.00857022],
       [0.99077855, 0.00922145],
       [0.99159234, 0.00840766],
       [0.92348784, 0.07651216],
       [0.9795751 , 0.0204249 ],
       [0.71679561, 0.28320439],
       [0.00545187, 0.99454813],
       [0.99144943, 0.00855057],
       [0.07801771, 0.92198229]])